__pycache__

__cache__

__tmcache__

ckpts

checkpoints

targets

*_results*

datasets

exps

DockQ

TMscore

foldx5

clustalw-2.1-linux-x86_64-libcppstatic

*.txt

*.pt

*.png

*.pdf

*.pkl

*.svg

*.log

*.pdb

*.jsonl

figures/data

figures/images

scripts/test.sh

launch.json

nohup.out

tmp.py
